
<footer class="footer">
    <div class="footer__top">
        <nav role="navigation" aria-labelledby="block-piedepagina-menu" id="block-piedepagina">
              
    <h2 class="visually-hidden" id="block-piedepagina-menu">Pie de página</h2>
    
  
          
  
  <div class="grilla-menus grid-nav">
    <nav class="menu">
        
  
  
      
                            
      
  <ul class="grilla-menu">
              
  <li class="grilla-menu__item grilla-menu__item--active grilla-menu__item--with-sub">
                  <a href="/historia-del-mnhn" class="grilla-menu__link grilla-menu__link--active grilla-menu__link--with-sub" data-drupal-link-system-path="node/2648">Historia del MNHN</a>
                <span class="expand-sub"></span>
            
                                      
      
  <ul class="grilla-menu grilla-menu--sub grilla-menu--sub-1">
              
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/mision" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2698">Misión</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--active grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/politica-de-colecciones-mnhn" class="grilla-menu__link grilla-menu__link--active grilla-menu__link--sub grilla-menu__link--sub-1 is-active" data-drupal-link-system-path="node/2678">Política de colecciones</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/equipo" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2702">Equipo MNHN</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/equipo" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2702">Administración MNHN</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/equipo" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2702">Comunicaciones MNHN</a>
            </li>
        </ul>
    
        </li>
            
  <li class="grilla-menu__item grilla-menu__item--with-sub">
                  <a href="/areas" class="grilla-menu__link grilla-menu__link--with-sub" data-drupal-link-system-path="node/2652">Áreas curatoriales</a>
                <span class="expand-sub"></span>
            
                                      
      
  <ul class="grilla-menu grilla-menu--sub grilla-menu--sub-1">
              
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/antropologia" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2682">Antropología</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/botanica" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2660">Botánica</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/entomologia" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2704">Entomología</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/paleontologia" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2718">Paleontología</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/zoologia-invertebrados" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2706">Zoología de Invertebrados</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/zoologia-vertebrados" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2720">Zoología de Vertebrados</a>
            </li>
        </ul>
    
        </li>
            
  <li class="grilla-menu__item grilla-menu__item--with-sub">
                  <a href="/exhibiciones" class="grilla-menu__link grilla-menu__link--with-sub" data-drupal-link-system-path="node/2658">Exhibiciones</a>
                <span class="expand-sub"></span>
            
                                      
      
  <ul class="grilla-menu grilla-menu--sub grilla-menu--sub-1">
              
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/exhibiciones-permanentes" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2646">Permanentes</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/exhibiciones-temporales" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2666">Temporales</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/bidimensionales" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2686">Bidimensionales</a>
            </li>
        </ul>
    
        </li>
            
  <li class="grilla-menu__item grilla-menu__item--with-sub">
                  <a href="/Educaci%C3%B3n" class="grilla-menu__link grilla-menu__link--with-sub">Educación</a>
                <span class="expand-sub"></span>
            
                                      
      
  <ul class="grilla-menu grilla-menu--sub grilla-menu--sub-1">
              
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/feria-cientifica-nacional-juvenil" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2692">Feria Científica Nacional Juvenil</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/recursos-pedagogicos" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/2650">Recursos pedagógicos</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/noticias/recursos-digitales-mnhn" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/589">Recursos digitales</a>
            </li>
            
  <li class="grilla-menu__item grilla-menu__item--sub grilla-menu__item--sub-1">
                  <a href="/noticias/divertirse-con-el-material-educativo-del-mnhn" class="grilla-menu__link grilla-menu__link--sub grilla-menu__link--sub-1" data-drupal-link-system-path="node/1915">Material educativo MNHN</a>
            </li>
        </ul>
    
        </li>
        </ul>
    
    </nav>
  </div>
  
    </nav>
  
  
  <div id="block-redessocialesblock" class="block">
    <div>
      
          
            
  
  <div class="block block--no-title block--redes-sociales">
    <div class="inner-block">
            <h2 class="h2">Redes sociales</h2>
      
        <ul>
            <li>
          <a href="https://www.instagram.com/mnhncl/?hl=es-la">
            <i class="fab fa-instagram"></i>
            <span>Instagram</span>
          </a>
        </li>
            <li>
          <a href="https://es-la.facebook.com/MNHNcl/">
            <i class="fab fa-facebook-f"></i>
            <span>Facebook</span>
          </a>
        </li>
            <li>
          <a href="https://twitter.com/MNHNcl">
            <i class="fab fa-twitter"></i>
            <span>Twitter</span>
          </a>
        </li>
            <li>
          <a href="https://www.youtube.com/channel/UCEaqSo74s4BkfyT10G5jw8A">
            <i class="fab fa-youtube"></i>
            <span>Youtube</span>
          </a>
        </li>
        </ul>
    </div>
  </div>
  
        </div>
  </div>
  
  
  <div id="block-bannersobligatioriosblock" class="block block--no-title block--banners-obligatorios">
    <div class="inner-block">
            <h2 class="h2">Banners obligatiorios block</h2>
      
            
    <div class="grid grid--columns-4">
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="https://www.patrimoniocultural.gob.cl/614/w3-propertyvalue-40755.html">Sistema Integral de Atención Ciudadana (SIAC)</a>
        </div>
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="https://www.patrimoniocultural.gob.cl/614/w3-propertyvalue-123781.html">Estados Financieros</a>
        </div>
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="http://www.mercadopublico.cl/Portal/FeedOrg.aspx?qs=6YL18o2afRApDMClFTeotg%3D%3D">Participe en nuestras licitaciones</a>
        </div>
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="https://www.patrimoniocultural.gob.cl/sites/www.patrimoniocultural.gob.cl/files/2021-10/articles-5371_archivo_18.pdf">Cuenta Pública</a>
        </div>
      
      
      
    </div>
    <div class="grid grid--columns-4">
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="http://transparenciaactiva.dibam.cl/Paginas/ACGI.aspx">Compromisos de Gestión Institucional</a>
        </div>
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="http://www.empleospublicos.cl/">Portal de Empleos Públicos</a>
        </div>
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="https://www.patrimoniocultural.gob.cl/614/w3-propertyvalue-109731.html">Convenios de Colaboración</a>
        </div>
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="https://www.portaltransparencia.cl/PortalPdT/pdtta?codOrganismo=BC003">Gobierno Transparente</a>
        </div>
      
      
      
    </div>
    <div class="grid grid--columns-4">
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="http://transparenciaactiva.dibam.cl/Paginas/SubMenuEnlaceSistemaElectronico.aspx">Solicitud de Información de Ley de Transparencia</a>
        </div>
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="https://tramites.patrimoniocultural.gob.cl/">Trámites en línea</a>
        </div>
            <div class="b-require banner banner--obligatorio grid__item">
          <a class="link--banner" href="https://www.patrimoniocultural.gob.cl/fondo-de-emergencia-transitorio-covid-19">Fondo de Emergencia Transitorio COVID-19</a>
        </div>
      
      
                    <div class="b-require grid__item"></div>
            
    </div>
  
        </div>
  </div>
  
    </div>
  </footer>
  <div class="footer__bottom">
    <div class="footer__bottom-content">
        
  
  <div id="block-snpcbrandingfooterblock" class="block">
    <div>
      
          
            <div class="clear-both">
    <div class="footer__content footer__content--container clear-both">
      <div class="footer__bottom--left-column footer__bottom--column">
        
  <figure class="figure">
        <a class="figure__link" href="/">
                  
    
  <picture class="figure__image">
        
  
    <img class="figure__img" src="assets/logo_mcap_bn.png" alt="Logo">
  
    </picture>
                    </a>
    
    </figure>
      </div>
      <div class="footer__bottom--right-column footer__bottom--column">
        <p>Dirección: Parque Quinta Normal, Santiago, Chile.&nbsp;<a href="https://www.google.cl/maps/place/Museo+Nacional+de+Historia+Natural/@-33.4420005,-70.683911,17z/data=!3m1!4b1!4m5!3m4!1s0x9662c45a9bd30c11:0xebb215197a654cf5!8m2!3d-33.442005!4d-70.681717">Ver mapa</a></p>
  <p>Tel:&nbsp;<a href="tel://+56226804603">+56229979203</a>&nbsp;| E-mail:&nbsp;<a href="mailto:comunicaciones@mnhn.gob.cl">comunicaciones@mnhn.gob.cl</a></p>
  <p><a href="https://www.patrimoniocultural.gob.cl/614/w3-propertyvalue-40755.html">Atención Ciudadana</a>&nbsp;|&nbsp;<a href="https://www.patrimoniocultural.gob.cl/614/w3-article-29742.html">Términos y Condiciones de Uso</a></p>
  
      </div>
    </div>
    <div class="site-end">
      <p>© Servicio Nacional del Patrimonio Cultural</p>
    </div>
  </div>
  
        </div>
  </div>
  
    </div>
  </div>